---
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = (Object.values(import.meta.glob('../pages/posts/*.md', { eager: true }))).slice(
  0,
  4
);
const pageTitle = 'Blog';
---

<BaseLayout pageTitle={pageTitle}>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
  <a href="/css-tws/page/2">Next</a>
</BaseLayout>
